@CHARSET "ISO-8859-1";

.button {
	width: 100%;
	display: block;
}

header {
	background-image: url("images/bg2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: myFirstFont;
	font-size: 64px;
	line-height: 100px;
	text-align: center;
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}